<div class="container">
  <h3> Login form </h3>

  <table>
    <form method="post" action="/login">

      <div>
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="user[email]" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="user[password]" required>

        <button type="submit">Login</button>
      </div>
    </form>
    <p>you better remember your password, no 'forgot password option'<p>
  </table>
</div>
