.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

h1 {
  display: inline-table;
}

.home {
  float: inherit;
  display: inline-block;
}

th {
  text-align: left;
}

table {
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th {
  border-bottom: 2px solid #444444;
  width: 120px;
}
td {
  border-top: 1px solid #444444;
}

.submit-form {
  padding-bottom: 20px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
text-align:center;
}
